.container {
    width: 100%;
    background-color: rgb(222, 233, 233);
    min-height: 100vh;
    padding: 0.5rem;
}

.listado {
    width: 10rem;
    background-color: darkcyan;
    padding: 0.5rem;

    ul {
        margin: 0 0.5rem;

        li {
            list-style:upper-roman;

            &:hover {
                color: white;
            }
        }
    }
}