html {
    display: flex;
    justify-content: center;
    align-items: center;
}


.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
}

.boton::before {
    content: 'Pasa por encima';
    background-color: white;
    color: black;
}

.boton {
    width: 150px;
    height: 50px;
    text-align: center;
    border: solid 4px;
    border-radius: 10px;
    font-weight: 700;
    color: white;
    background-color: green;
}

.boton:hover::before {
    content: ' ';
}

.boton:hover::after {
    content: '¡Hecho!';
}

