@import "scss/componentes";
@import "scss/mixins";
@import "scss/estilos";


body {
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
    color: $text-color;
    @include formatText(#292525);
    text-align: center;
}

p {
    color: $text-color;
    @include formatText;
    text-align: center;
}