html {
    font-size: 36px;
}


.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 900px;
    height: 300px;
    background-color: cadetblue;
}

span.frase {
    font-style: italic;
}

span.frase::before {
    content: '" ';
}

span.frase::after {
    content: ' "';
}

.libro {
    background-color: bisque;
    padding: 15px;
    font-family: 'Cascadia Code';
}

.libro p::first-letter {
    font-size: 60px;
}